# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Node
node_modules/
dist/
.vite/
.pnpm*

# OS
.DS_Store

# Data
data/

.pytest_cache/
.ruff_cache/
.mypy_cache/
example files/
controls-*.zip
.vscode
